@use '../constants/colors' as *;
@use '../constants/z-indexes' as *;
@use '../constants/grid' as *;

@use '../mixins/text-style' as *;
@use '../mixins/flexbox' as *;
@use '../mixins/positions' as *;
@use '../mixins/responsive' as *;

@use 'sass:math';

.cart-modal {
  @include pos-center(fixed);

  display: none;

  z-index: $cart-modal-level;
  width: calc(100% - ($grid-margin * 2));
  max-width: 360px;
  background-color: $white;
  padding: 40px 24px;
  border-radius: 8px;
  overflow: hidden;

  &.is-active {
    display: block;
  }

  .cart-title {
    @include text-style(16, $dark);
    @include flexbox;

    margin-bottom: 24px !important;
  }

  .button-group {
    @include column-flexbox;

    width: 100%;

    a,
    button {
      width: 100%;
      height: 48px;
    }

    a {
      margin-bottom: 8px;
    }
  }

  @include responsive(D) {
    padding-right: 32px;
    padding-left: 32px;

    .cart-title {
      @include text-style(18);

      margin-bottom: 16px;
    }

    .button-group {
      a,
      button {
        @include text-style(18);
        height: 55px;
      }
    }
  }
}
