@use '../constants/colors' as *;
@use '../constants/dimensions' as *;
@use '../constants/z-indexes' as *;
@use '../constants/grid' as *;

@use '../mixins/text-style' as *;
@use '../mixins/flexbox' as *;
@use '../mixins/positions' as *;
@use '../mixins/responsive' as *;

@use 'sass:math';

.product-tab {
  position: sticky;
  top: ($gnb-height-sm + $lnb-height-sm) - 2px;
  z-index: $product-tab-level;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $border;
  background-color: $white;

  &-list {
    @include flexbox;

    margin: 0 (-$grid-margin);
  }

  &-item {
    width: math.div(100%, 5);

    &.is-active {
      button {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    button {
      @include flexbox;
      @include text-style(13, $dark);

      width: 100%;
      height: 40px;
      font-weight: 700;
      white-space: nowrap;
      border-bottom: 2px solid transparent;

      &:active {
        color: $blue;
      }
    }

    .badge {
      margin-left: 4px;
      color: $secondary;
    }
  }

  @include responsive(T) {
    top: ($lnb-height-md + $gnb-height-md) - 2px;
    height: 54px;
    margin: 40px 0;
    background-color: $background;
    border-bottom: 0;

    &-list {
      margin: 0;
    }

    &-item {
      button {
        @include text-style(16);
        height: 54px;
      }

      .badge {
        margin-right: 8px;
      }
    }
  }

  @include responsive(D) {
    &-item button:hover {
      color: $blue;
    }
  }
}
